h1 Miner Webinterface
h2 Overview
if miner.connected
    p Status: Connected
    p Miner: #{miner.description}
    p Current Average Hashrate: #{miner.avgHashrate} MH/s
    p Current Earnings Per #{earnings.interval}: #{earnings.value} #{earnings.currency}
    h2 Shares
    p Accepted: #{miner.shares.accepted}
    p Rejected: #{miner.shares.rejected}
    p Stale: #{miner.shares.stale}
    p Discarded: #{miner.shares.discarded}
    h3 Difficulty
    p Accepted: #{miner.difficulty.accepted}
    p Rejected: #{miner.difficulty.rejected}
    p Stale: #{miner.difficulty.stale}
else
    p Status: Disconnected