<article id="backend-connection"></article>
<article id="modules">
    {{{ allViews }}}
</article>
<article class="text-right"><small>Software: <a href="{{dashboard.homepage}}" target="_blank">miner-dashboard</a> - Version {{dashboard.version}}</small></article>
<script>var config = {{{modules}}};</script>
<script>var dataMap = {{{dataMap}}};</script>
