<section class="earnings panel panel-success" id="{{ id }}">
    <header class="panel-heading">
        <div class="row">
            <h2 class="panel-title col-xs-6">{{ title }}</h2>
        </div>
    </header>
    <dl class="panel-body dl-horizontal">
        <dt class="big-label">Earnings:</dt>
        <dd class="big">{{value}} {{currency}}/{{interval}}</dd>
    </dl>
    <footer class="text-muted">Updated: {{lastUpdated}}</footer>
</section>