<section class="market panel panel-success" id="{{ id }}">
    <header class="panel-heading">
        <h2 class="panel-title">{{ title }}</h2>
    </header>
    <dl class="panel-body dl-horizontal">
        <dt class="big-label">Latest Trade:</dt>
        <dd class="big">{{close}} {{currency}}</dd>
        <dt>Best Bid:</dt>
        <dd>{{bid}} {{currency}}</dd>
        <dt>Best Ask:</dt>
        <dd>{{ask}} {{currency}}</dd>
    </dl>
</section>