<section class="miner panel {{#if connected}}panel-success{{else}}panel-danger{{/if}}" id="{{ id }}">
    <header class="panel-heading">
        <div class="row">
            <h2 class="panel-title col-xs-6">{{ title }}</h2>
            <div class="col-xs-6"><span class="pull-right">{{#if connected}}Connected{{else}}Disconnected{{/if}}</span></div>
        </div>
    </header>
    {{#if connected}}
        <div class="panel-body">
            <div class="row">
                <h4>Overview</h4>
                <dl class="dl-horizontal col-xs-12 col-md-4">
                    <dt class="big-label">Hashrate:</dt>
                    <dd class="big">{{hashrate avgHashrate}}</dd>
                    <dt></dt>
                    <dd></dd>
                    <dt>Hardware Errors:</dt>
                    <dd>{{number hardwareErrors}}</dd>
                    <dt>Hardware Error Rate:</dt>
                    <dd>{{number hardwareErrorRate precision="2"}}%</dd>
                    <dt>Software:</dt>
                    <dd>{{description}}</dd>
                </dl>
                <dl class="dl-horizontal col-xs-12 col-md-4">
                    <dt>Accepted Shares:</dt>
                    <dd>{{number shares.accepted}}</dd>
                    <dt>Rejected Shares:</dt>
                    <dd>{{number shares.rejected}}</dd>
                    <dt>Stale Shares:</dt>
                    <dd>{{number shares.stale}}</dd>
                    <dt>Discarded Shares:</dt>
                    <dd>{{number shares.discarded}}</dd>
                </dl>
                <dl class="dl-horizontal col-xs-12 col-md-4">
                    <dt>Difficulty Accepted:</dt>
                    <dd>{{number difficulty.accepted precision="2"}}</dd>
                    <dt>Difficulty Rejected:</dt>
                    <dd>{{number difficulty.rejected precision="2"}}</dd>
                    <dt>Difficulty Stale:</dt>
                    <dd>{{number difficulty.stale precision="2"}}</dd>
                </dl>
            </div>
            {{#if pools}}
                <div class="row devices">
                    <h4>Pools</h4>
                    {{#each pools}}
                        <dl class="dl-horizontal col-xs-12 col-md-4">
                            <dt>Pool {{id}}:</dt>
                            <dd>{{url}}</dd>
                            <dt>Alive:</dt>
                            <dd class="text-{{#if alive}}success{{else}}danger{{/if}}">{{#if alive}}Yes{{else}}No{{/if}}</dd>
                            <dt>Priority:</dt>
                            <dd>{{priority}}</dd>
                            <dt>Last Share Time:</dt>
                            <dd>{{#if lastShareTime}}{{lastShareTime}}{{else}}Never{{/if}}</dd>
                        </dl>
                    {{/each}}
                </div>
            {{/if}}
            {{#if devices}}
                <div class="row devices">
                    <h4>Devices</h4>
                    {{#each devices}}
                        <dl class="dl-horizontal col-xs-12 col-md-4">
                            <dt>Device {{id}}: {{description}}</dt>
                            {{#if connected}}
                                <dd class="text-success">{{hashrate avgHashrate}} @ {{number hardwareErrorRate precision="2"}}% HW Errors</dd>
                            {{else}}
                                <dd class="text-danger">Disconnected</dd>
                            {{/if}}
                        </dl>
                    {{/each}}
                </div>
            {{/if}}
        </div>
        <footer class="text-muted">Updated: {{lastUpdated}}</footer>
    {{/if}}   
</section>