<header class="panel-heading">
    <div class="row">
        <h2 class="panel-title col-xs-6">{{ title }}</h2>
    </div>
</header>
<div class="panel-body dl-horizontal">
    <div class="row">
        <div class="value col-xs-12 col-md-3">
            <div class="graph"></div>
            <strong>Current Revenue: {{number value}} {{currency}}/{{interval}}</strong>
        </div>
    </div>
</div>
<footer class="text-muted">Updated: {{time lastUpdated}}</footer>