<section class="technical panel panel-success" id="{{ id }}">
        <header class="panel-heading">
            <h2 class="panel-title">{{ title }}</h2>
        </header>
        <div class="panel-body row">
            <dl class="dl-horizontal col-xs-12 col-md-4">
                <dt>Total Hashrate:</dt>
                <dd>{{hashrate hash_rate}}</dd>
                <dt>Difficulty:</dt>
                <dd>{{number difficulty precision="2"}}</dd>
            </dl>
            <dl class="dl-horizontal col-xs-12 col-md-4">
                <dt>Blocks Mined:</dt>
                <dd>{{number n_blocks_mined}}</dd>
                <dt>Time between Blocks:</dt>
                <dd>{{number minutes_between_blocks precision="2"}} Minutes</dd>
            </dl>
            <dl class="dl-horizontal col-xs-12 col-md-4">
                <dt>Number of Transactions:</dt>
                <dd>{{number n_tx}}</dd>
                <dt>Total Output Volume:</dt>
                <dd>{{number total_btc_sent}} BTC</dd>
                <dt>Estimated Transaction Volume:</dt>
                <dd>{{number estimated_btc_sent precision="2"}} BTC</dd>
            </dl>
        </div>
        <footer class="text-muted">Updated: {{lastUpdated}}</footer> 
</section>