<header class="panel-heading">
    <h2 class="panel-title">{{ title }}</h2>
</header>
<div class="panel-body row">
    <div class="col-xs-12 col-md-3">
        <table class="table table-bordered">
            <tr><td>Total Hashrate</td><td>{{hashrate networkHashrate}}</td></tr>
            <tr><td>Difficulty</td><td>{{number difficulty precision="2"}}</td></tr>
        </table>
    </div>
    <div class="col-xs-12 col-md-3">
        <table class="table table-bordered">
            <tr><td>Blockchain Length</td><td>{{number blockChainLength}}</td></tr>
            <tr><td>Time between Blocks</td><td>{{number timeBetweenBlocks precision="2"}} Minutes</td></tr>
        </table>
    </div>
    <div class="col-xs-12 col-md-3">
        <table class="table table-bordered">
            <tr><td>Number of Transactions</td><td>{{number numberOfTransactions precision="1"}}</td></tr>
            <tr><td>Total Output Volume</td><td>{{number totalTransactionValue}} BTC</td></tr>
        </table>
    </div>
</div>
<footer class="text-muted">Updated: {{time lastUpdated}}</footer>